{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            {% for reserve in reserves %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><strong>{{ reserve.getName }} Balance: </strong> &pound;{{ reserve.getFormattedBalance }}</p>
                    </div>
                </div>
            {% endfor %}

            <h1>{{title}}</h1>

            <form action="" class="mbl pbm" method="get">
                <div class="select-wrapper">
                    <select name="taxYear">
                        {% for year in taxYears %}
                            <option value="{{ year.key }}"{% if year.active%} selected="selected"{% endif %}>{{ year.desc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="button mtm" type="submit">Update</button>
            </form>

            {% if balances is not empty %}
            <table>
                <thead>
                    <tr>
                        <th><span>Account</span></th>
                        <th><span>Balance</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for balance in balances %}
                        <tr>
                            <td><span>{{ balance.accountName }}</span></td>
                            <td><span>&pound;{{ balance.balance|number_format(2, '.', ',') }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}


            {% if rows is not empty %}
                <h2 class="mtl">Transactions</h2>
                <table>
                    <thead>
                        <tr>
                            <th><span>Sort Code</span></th>
                            <th><span>Account Number</span></th>
                            <th><span>Date</span></th>
                            <th><span>Label</span></th>
                            <th><span>Amount</span></th>
                            <th><span>Balance</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td><span>{{ row.sort_code }}</span></td>
                                <td><span>{{ row.account_number }}</span></td>
                                <td data-sort="{{ row.date|date("Ymd") }}"><span>{{ row.date|date("d-m-Y") }}</span></td>
                                <td><span>{{ row.label }}</span></td>
                                <td data-type="currency"><span>&pound;{{ row.amount|number_format(2, '.', ',') }}</span></td>
                                <td data-type="currency"><span>&pound;{{ row.balance|number_format(2, '.', ',') }}</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </section>

{% endblock %}
