{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>{{title}}</h1>

            <a class="button fl-r mbm" href="/reports/budget-versus-spend/csv" title="Download Budget vs Spend Report as a CSV document">Download as CSV</a>

            <form action="" class="mbl pbm" method="get">
                <div class="mbs select-wrapper">
                    <select name="taxYear">
                        {% for year in taxYears %}
                            <option value="{{ year.key }}"{% if year.active%} selected="selected"{% endif %}>{{ year.desc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="button" type="submit">Update</button>
            </form>

            <table>
                <thead>
                    <tr>
                        {% for row in headings %}
                            <th><span>{{ row }}</span></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row, columns in rows %}
                        <tr>
                            {% for col in columns %}
                                <td><span>{{ col }}</span></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
