{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>{{title}}</h1>

            {% if rows is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th><span>Tenant</span></th>
                            <th><span>Name</span></th>
                            <th><span>Current Balance</span></th>
                            <th><span>1 Month Balance</span></th>
                            <th><span>3 Month Balance</span></th>
                            <th><span>Download</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td><span>{{ row.tenant_ref }}</span></td>
                                <td><span>{{ row.tenant_name }}</span></td>
                                <td data-type="currency"><span>&pound;{{ row.current_balance|number_format(2, '.', ',') }}</span></td>
                                <td data-type="currency"><span>&pound;{{ row.one_month_balance|number_format(2, '.', ',') }}</span></td>
                                <td data-type="currency"><span>&pound;{{ row.three_month_balance|number_format(2, '.', ',') }}</span></td>
                                <td><a href="{{ path('customer_app_debtors_pdf', {residentNumber: row.resident_number}) }}" target="_blank">PDF Statement</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>

{% endblock %}
