{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-condensed table-bordered data-table" style="font-family: 'courier new', courier, monospace;">
                <thead>
                    <tr>
                        <th>Tenant</th>
                        <th>Name</th>
                        <th>Current Balance</th>
                        <th>1 Month Balance</th>
                        <th>3 Month Balance</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.tenant_ref }}</td>
                        <td>{{ row.tenant_name }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.current_balance|number_format(2, '.', ',') }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.one_month_balance|number_format(2, '.', ',') }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.three_month_balance|number_format(2, '.', ',') }}</td>
                        <td><a href="{{ path('customer_app_debtors_pdf', {residentNumber: row.resident_number}) }}" target="_blank" class="btn btn-danger">PDF Statement</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
