{% extends 'SupplierAppBundle::layout.html.twig' %}

{% block content %}

        {% if invoices %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Invoices</h2>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>WO Number</th>
                            <th>Property Manager</th>
                            <th>Invoice No.</th>
                            <th>Invoice Date</th>
                            <th>Paid Date</th>
                            <th>Invoice Amount</th>
                            <th>Works Order Status</th>
                            <th>Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in invoices %}
                            <tr>
                                <td>{{ row.wo_num_display }}</td>
                                <td>{{ row.property_manager_email }}</td>
                                <td>{{ row.invoice_number }}</td>
                                <td nowrap="nowrap">
                                    {% if row.invoice_date is defined %}
                                        {{ row.invoice_date}}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">
                                    {% if row.date_paid is defined %}
                                        {{ row.date_paid}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ row.invoice_amount }}</td>
                                <td>{{ row.status }}</td>
                                <td>
                                    {% if row.invoice_note is defined %}
                                        {{ row.invoice_note|nl2br }}
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">

                                    {% if row.reuploadable == true %}
                                        <a href="{{ path('supplier_invoice_upload', {id: row.id}) }}" class="btn btn-xs btn-danger">Re-upload Invoice</a>
                                    {% endif %}

                                    {% if row.rejected == true %}
                                        <a href="{{ path('supplier_invoice_upload', {id: row.id}) }}" class="btn btn-xs btn-danger">Upload Invoice</a>
                                    {% else %}
                                        <a href="{{ path('supplier_app_invoice_pdf', {id: row.id}) }}" target="_blank" class="btn btn-xs btn-danger">Download</a>
                                    {% endif %}

                                    <a href="{{ path('supplier_app_works_order_pdf', {id: row.id}) }}" target="_blank" class="btn btn-xs btn-danger">Download WO</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Invoices</h2>
                <p>There's currently no invoices here for you to view.</p>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock %}
