{% extends 'SupplierAppBundle::layout.html.twig' %}

{% block content %}

	{% if invoices %}
	<div class="container">
	    <div class="row">
	        <div class="col span_12 intro-box">
	            <h1 class="margin-bottom"><strong>My Invoices</strong></h1>
	        </div>
	    </div>
	</div>
	   
	<div class="container table-container">
	    <div class="row">                
	    	<div class="col span_12" id="invoices">
	
	            <table class="display dataTable">
                    <thead>
                        <tr>
                            <th>WO Number</th>
                            <th>Property Manager</th>
                            <th>Invoice No.</th>
                            <th>Invoice Date</th>
                            <th>Paid Date</th>
                            <th>Invoice Amount</th>
                            <th>Works Order Status</th>
                            <th class="no-sort">Notes</th>
                            <th class="no-sort">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in invoices %}
                            <tr>
                                <td>{{ row.wo_num_display }}</td>
                                <td>{{ row.property_manager_email }}</td>
                                <td>{{ row.invoice_number }}</td>
                                <td nowrap="nowrap">
                                    {% if row.invoice_date is defined %}
                                        {{ row.invoice_date}}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">
                                    {% if row.date_paid is defined %}
                                        {{ row.date_paid}}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ row.invoice_amount }}</td>
                                <td>{{ row.status }}</td>
                                <td>
                                    {% if row.invoice_note is defined %}
                                        {{ row.invoice_note|nl2br }}
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">

                                    {% if row.reuploadable == true %}
                                        <a href="{{ path('supplier_invoice_upload', {id: row.id}) }}" class="btn red" title="Re-Upload Invoice"><i class="fa fa-upload" aria-hidden="true"></i></a>
                                    {% endif %}

                                    {% if row.rejected == true %}
                                        <a href="{{ path('supplier_invoice_upload', {id: row.id}) }}" class="btn red" title="Upload Invoice"><i class="fa fa-upload" aria-hidden="true"></i></a>
                                    {% else %}
                                        <a href="{{ path('supplier_app_invoice_pdf', {id: row.id}) }}" target="_blank" class="btn red" title="Download Invoice" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                    {% endif %}

                                    <a href="{{ path('supplier_app_works_order_pdf', {id: row.id}) }}" target="_blank" class="btn grey" title="Download Work Order" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
	    	</div>
	    </div>
	</div>

    {% else %}
    
	<div class="container">
	    <div class="row">
	        <div class="col span_12 intro-box">
	            <h1 class="margin-bottom"><strong>My Invoices</strong></h1>
	            <p>There's currently no invoices here for you to view.<br/><br/><br/><br/><br/><br/><br/><br/></p>
	        </div>
	    </div>
	</div>

    {% endif %}

{% endblock %}