{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">
            <h1>{{ title }}</h1>
            <table>
                <thead>
                    <tr>
                        <th><span>Date</span></th>
                        <th><span>Description</span></th>
                        <th><span>Amount</span></th>
                        <th><span>Balance</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr class="{{row.rowClass}}" data-row-id="{{row.id}}">
                            <td data-order="{{row.date|date("Ymd")}}"><span>{{ row.date|date("d-m-Y") }}</span></td>
                            <td><span>{{ row.description }}</span></td>
                            <td data-type="currency"><span>&pound;{{ row.amount|number_format(2, '.', ',') }}</span></td>
                            <td data-type="currency"><span>&pound;{{ row.balance|number_format(2, '.', ',') }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p class="mtm">Please note that payments can take upto 14 days to appear on your statement of account.<br>If you have made a payment more than 14 days ago and it does not appear here then please contact us.</p>
        </div>
    </section>

{% endblock %}
