{% extends "SupplierAppBundle::base-layout.html.twig" %}

{% block menu %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="background-white">
	<div class="container sub-nav-container">
        <div class="row">
            <ul class="nav desktop-sub-nav">
                <li class="{% if app.request.attributes.get('_route') == "homepage" or app.request.attributes.get('_route') == "" %}active{% endif %}"><a target="_self" href="{{ path('homepage') }}" title="Home">Home</a></li>
                <li class="{% if app.request.attributes.get('_route') == "supplier_account" %}active{% endif %}"><a target="_self" href="{{ path('supplier_account') }}" title="Account">Account</a></li>
                <li class="{% if app.request.attributes.get('_route') == "supplier_invoice_upload" %}active{% endif %}"><a target="_self" href="{{ path('supplier_invoice_upload') }}" title="Upload Invoice">Upload Invoice</a></li>
                <li class="{% if app.request.attributes.get('_route') == "supplier_my_invoices" %}active{% endif %}"><a target="_self" href="{{ path('supplier_my_invoices') }}" title="My Invoices">My Invoices</a></li>
                <!-- <li class="{% if app.request.attributes.get('_route') == "supplier_certificate_upload" %}active{% endif %}"><a target="_self" href="{{ path('supplier_certificate_upload') }}" title="Upload Certificate">Upload Certificate</a></li>-->
                <li><a href="/faq">Help/FAQ</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

            <select class="mobile-sub-nav">
                <option {% if app.request.attributes.get('_route') == "homepage" or app.request.attributes.get('_route') == "" %}selected{% endif %} value="{{ path('homepage') }}">Home</option>
                <option {% if app.request.attributes.get('_route') == "supplier_account" %}selected{% endif %} value="{{ path('supplier_account') }}">Account</option>
                <option {% if app.request.attributes.get('_route') == "supplier_invoice_upload" %}selected{% endif %} value="{{ path('supplier_invoice_upload') }}">Upload Invoice</option>
                <option {% if app.request.attributes.get('_route') == "supplier_my_invoices" %}selected{% endif %} value="{{ path('supplier_my_invoices') }}">My Invoices</option>
                <!-- <option {% if app.request.attributes.get('_route') == "supplier_certificate_upload" %}selected{% endif %} value="{{ path('supplier_certificate_upload') }}">Upload Certificate</option>-->
                <option value="/faq">Help/FAQ</option>
                <option value="/logout">Logout</option>
			</select>

        </div>

	</div>
</div>

{% endif %}
{% endblock %}
