{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col span_12 intro-box">
            <h1><strong>{{title}}</strong></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col span_12">
            <form method="get" action="" class="form-inline">
                <div class="form-group">
                    <select class="form-control input-sm" name="taxYear">
                        {% for year in taxYears %}
                        <option value="{{ year.key }}" {% if year.active%}selected="selected"{% endif %}>{{ year.desc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default btn-sm">Update</button>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col span_12">
            <table class="table table-striped table-condensed table-bordered data-table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for balance in balances %}
                    <tr>
                        <td>{{ balance.accountName }}</td>
                        <td class="text-right"><span style="float: left;">&pound;</span>{{ balance.balance|number_format(2, '.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col span_12">
            <table class="table table-striped table-condensed table-bordered data-table">
                <thead>
                    <tr>
                        <th>Sort Code</th>
                        <th>Account Number</th>
                        <th>Date</th>
                        <th>Label</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.sort_code }}</td>
                        <td>{{ row.account_number }}</td>
                        <td data-sort="{{ row.date|date("Ymd") }}">{{ row.date|date("d-m-Y") }}</td>
                        <td>{{ row.label }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.amount|number_format(2, '.', ',') }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.balance|number_format(2, '.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}
