{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col span_12 intro-box">
            <h1 class="margin-bottom"><strong>{{title}}</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col span_12">
            <form method="get" action="" class="form-inline form-filter">
                <div class="form-group">
                    <select class="form-control input-sm select-form float-left" name="taxYear">
                        {% for year in taxYears %}
                        <option value="{{ year.key }}" {% if year.active%}selected="selected"{% endif %}>{{ year.desc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default btn-sm">Update</button>
            </form>
        </div>
    </div>
</div>
<div class="background-darkestgrey bank-statements">
	 <div class="container">          
        <div class="row gutters">
            {% for balance in balances %}
            <div class="col span_4 account">
                <span class="name">{{ balance.accountName }}</span>
                <span class="balence">&pound;{{ balance.balance|number_format(2, '.', ',') }}</span>
            </div>
            {% endfor %}
        </div>
	</div>
</div>


<div class="container table-container">
    <div class="row">
        <div class="col span_12">
            <table class="display dataTable statement">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Date</th>
                        <th>Label</th>
                        <th>Amount</th>
                        <th>Statement Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.account_number }}</td>
                        <td data-sort="{{ row.date|date("Ymd") }}">{{ row.date|date("d-m-Y") }}</td>
                        <td>{{ row.label }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.amount|number_format(2, '.', ',') }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.original_amount|number_format(2, '.', ',') }}</td>
                        <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.balance|number_format(2, '.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}
