{% extends "CustomerAppBundle::layout.html.twig" %}


{% block content %}

    {% include 'CustomerAppBundle:Partials:breadcrumb.html.twig' with {'crumblink':'Bank Statement', 'link':'/reports/bank-statement'} %}

    <div class="container padding-bottom-30 padding-bottom-sm-40">
        <div class="row">
            <div class="col-md-9 text-center text-sm-left">
                <h1 class="fc-primary d-sm-inline">Bank Statement</h1>
                <p class="padding-top-15 padding-top-md-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce dignissim vehicula facilisis. Nunc enim velit, tempor in pellentesque in, porta eu nisi.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="d-flex invoice-export margin-top-lg-30">
                    <a href="#" class="btn btn-cyan margin-top-20 margin-top-md-0">Export Report</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="tabs tabs-primary tabs-bottom margin-bottom-40 ticket-tabs">
                    <li class="fs-7 fw-700">
                        <a href="#" class="fc-black active">
                            Current Account
                        </a>
                    </li>
                    <li class="fs-7 fw-700">
                        <a href="#" class="fc-grey-5">
                            Reserve Account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="default-box date-filter text-center margin-bottom-30 margin-bottom-lg-25">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p class="fw-500 padding-top-10 d-flex d-lg-inline-flex padding-top-lg-20 justify-content-center justify-content-sm-start">
                                Dates</p>
                            <form method="get" class="d-flex d-md-inline-flex justify-content-center">
                                <select name="taxYear">
                                    {% for year in taxYears %}
                                        <option value="{{ year.key }}"
                                                {% if year.active %}selected="selected"{% endif %}>{{ year.desc }}</option>
                                    {% endfor %}
                                </select>
                                <select>
                                    <option>Option</option>
                                    <option>Option Two</option>
                                    <option>Option Three</option>
                                </select>

                                <input type="submit" value="Apply"
                                       class="btn btn-cyan margin-top-15 margin-top-md-5 margin-top-lg-10 margin-bottom-10 margin-bottom-lg-15 padding-right-50">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="row">#}
        {#<div class="col span_12">#}
        {#<form method="get" action="" class="form-inline form-filter">#}
        {#<div class="form-group">#}
        {#<select class="form-control input-sm select-form float-left" name="taxYear">#}
        {#{% for year in taxYears %}#}
        {#<option value="{{ year.key }}"#}
        {#{% if year.active %}selected="selected"{% endif %}>{{ year.desc }}</option>#}
        {#{% endfor %}#}
        {#</select>#}
        {#</div>#}
        {#<button type="submit" class="btn btn-default btn-sm">Update</button>#}
        {#</form>#}
        {#</div>#}
        {#</div>#}


        <div class="row">

            <div class="col-sm-6">
                <div class="default-box info-ticket primary-border d-sm-flex margin-bottom-10 margin-bottom-sm-30 justify-content-center align-items-center text-center">
                    {% for balance in balances %}
                        <p class="fw-700">Budget Total</p>
                        <span class="fc-grey-7 medium-text">&pound;{{ balance.accountName }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="default-box info-ticket primary-border d-sm-flex margin-bottom-10 margin-bottom-sm-30 justify-content-center align-items-center text-center">
                    {% for balance in balances %}
                        <p class="fw-700">Total Spend CBY</p>
                        <span class="fc-grey-7 medium-text">&pound;{{ balance.balance|number_format(2, '.', ',') }}</span>
                    {% endfor %}
                </div>
            </div>

        </div>


        {#<div class="background-darkestgrey bank-statements">#}
        {#<div class="container">#}
        {#<div class="row gutters">#}
        {#{% for balance in balances %}#}
        {#<div class="col span_4 account">#}
        {#<span class="name">{{ balance.accountName }}</span>#}
        {#<span class="balance">&pound;{{ balance.balance|number_format(2, '.', ',') }}</span>#}
        {#</div>#}
        {#{% endfor %}#}
        {#</div>#}
        {#</div>#}
        {#</div>#}

        <div class="row">
            <div class="col-12">
                <div class="per-page-filter d-flex margin-top-20 margin-top-sm-0 margin-bottom-25 justify-content-end align-items-center">
                    <label class="margin-bottom-0">Transactions per page</label>
                    <select>
                        <option>8</option>
                        <option>Option Two</option>
                        <option>Option Three</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                {% for row in rows %}
                    <div class="default-box statement-card margin-bottom-10 margin-bottom-sm-20 margin-bottom-md-30">
                        <div class="row">
                            <div class="col-sm-8 col-12">
                                <div class="overview d-flex align-items-center">
                                    <h2 class="fc-black fw-500 padding-right-5">{{ row.label }}</h2>
                                    <span class="icon icon-doc icon-24 bg-cyan"></span>
                                </div>
                            </div>
                            <div class="col-sm-2 col-6">
                                <div class="d-flex justify-content-center text-center align-items-center padding-top-10 padding-bottom-10 statement-details">
                                    <div>
                                        <small class="fs-8 fw-500 fc-grey-3">Amount</small>
                                        <p class="fs-5 fw-500 fc-grey-3" data-type="currency">+
                                            &pound;{{ row.amount|number_format(2, '.', ',') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-6">
                                <div class="d-flex justify-content-center text-center align-items-center padding-top-10 padding-bottom-10 statement-details">
                                    <div>
                                        <small class="fs-8 fw-500 fc-black">Balance</small>
                                        <p class="fs-5 fw-500 fc-black" data-type="currency">
                                            &pound;{{ row.balance|number_format(2, '.', ',') }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-2">
                                <div class="ticket-details bg-grey-6 d-flex align-items-center">
                                    <p data-sort="{{ row.date|date("Ymd") }}">{{ row.date|date("d-m-Y") }}</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="ticket-details bg-grey-6">
                                    <p class="d-inline">Robert Corley</p>
                                    <span class="fc-grey-5 d-inline">|</span>
                                    <p class="d-inline">{{ row.account_number }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="ticket-details bg-grey-6 d-flex align-items-center">
                                    <p>Property Title</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {#<div class="container table-container">#}
    {#<div class="row">#}
    {#<div class="col span_12">#}
    {#<table class="display dataTable statement">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Account Number</th>#}
    {#<th>Date</th>#}
    {#<th>Label</th>#}
    {#<th>Amount</th>#}
    {#<th>Statement Amount</th>#}
    {#<th>Balance</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for row in rows %}#}
    {#<tr>#}
    {#<td>{{ row.account_number }}</td>#}
    {#<td style="width: 80px;"#}
    {#data-sort="{{ row.date|date("Ymd") }}">{{ row.date|date("d-m-Y") }}</td>#}
    {#<td>{{ row.label }}{% if row.works_order_description %} - {{ row.works_order_description }}{% endif %}</td>#}
    {#<td style="width: 80px; data-type=" data-type="currency" class="text-right"><span#}
    {#style="float: left;">&pound;</span>{{ row.amount|number_format(2, '.', ',') }}#}
    {#</td>#}
    {#<td style="width: 80px; data-type=" data-type="currency" class="text-right"><span#}
    {#style="float: left;">&pound;</span>{{ row.original_amount|number_format(2, '.', ',') }}#}
    {#</td>#}
    {#<td style="width: 80px;" data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.balance|number_format(2, '.', ',') }}#}
    {#</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}

    {% include 'CustomerAppBundle:Partials:pagination.html.twig' %}

{% endblock %}

