{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col span_12 intro-box">
                <h1><strong>{{ title }}</strong></h1>
                <p>Please note that payments can take upto 14 days to appear on your statement of account. If you have made a payment more than 14 days ago and it does not appear here then please contact us.</p>
                
                
            </div>
        </div>
    </div>         
    <div class="container table-container">
        <div class="row">
            <div class="col span_12">            
                <table class="display dataTable statement">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rows %}
                        <tr data-row-id="{{row.id}}" class="{{row.rowClass}}">
                            <td data-order="{{row.date|date("Ymd")}}">{{ row.date|date("d-m-Y") }}</td>
                            <td>{{ row.description }}</td>
                            <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.amount|number_format(2, '.', ',') }}</td>
                            <td data-type="currency" class="text-right"><span style="float: left;">&pound;</span>{{ row.balance|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>

{% endblock %}
