{% extends "CustomerAppBundle::layout.html.twig" %}

{% block content %}

    <section class="content">
        <div class="container">

            {% if is_granted('ROLE_FORM_TEXTAREA_CUSTOMER|ISSUES|DESCRIPTION') %}
                <form>
                    <textarea></textarea>
                    <input type="submit" value="Submit Issue">
                </form>
            {% endif %}

            <h1>{{ title }}</h2>

            {% if rows is empty %}
                <p>There are currently no active issues for your site.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th><span>Description</span></th>
                            <th><span>Status</span></th>
                            <th><span>Date Created</span></th>
                            <th><span>Date Modified</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr data-row-id="{{row.id}}">
                                <td><span>{{ row.description|nl2br }}</span></td>
                                <td><span>{{ row.status }}</span></td>
                                <td><span>{{ row.date_created|date('d/m/Y') }}</span></td>
                                <td><span>{{ row.date_modified|date('d/m/Y') }}</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>

{% endblock %}
